<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro</title>
</head>
<body>
    <header>
        <h1>Cadaste um cliente</h1>
    </header>
    <main>
        <p>FORM</p>
        <p>{{message}}</p>
        <form action="." method="post">{% csrf_token %}
            {{ form.as_p }}

            <input type="submit" value="Cadastrar">
        </form>
        <br>
        <div>
            <a href="/clientes/listar_clientes">Listar clientes</a>
        </div>
    </main>
</body>
</html>